html {
    font-size: 62.5%;
}

:root {
    --highlight-color: #04f59d;
    --text-color: white;
    --light-black: #1d2029;
}

body {
    font-family: 'Patrick Hand', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    color: var(--text-color);
}

header {
    width: 100vw;
    height: 20vh;
    font-size: 2rem;
    text-align: center;
    box-shadow: rgba(255, 254, 254, 0.1) 0rem 0.1rem 0.2rem 0rem;
}

header img {
    height: 20vh;
}

.main {
    display: flex;
}

aside {
    border-right: 0.3rem solid aquamarine;
    font-size: 1.2rem;
    padding-right: 2rem;
    padding-left: 1rem;
    height: 70vh;
    overflow-y: scroll;
    scrollbar-color: var(--light-black);
    scrollbar-width: none;
    max-width: 10vw;
    min-width: 10vw;
}

aside::-webkit-scrollbar {
    width: 0.8rem;
    background-color: var(--light-black);
}

aside::-webkit-scrollbar-thumb {
    background-color: #04f59d;
    border-radius: 0.3rem;
}

aside h2 {
    margin-left: 4rem;
    font-size: 1.8rem;
}

aside ul{
    list-style: none;
    margin-left: 0.5rem;
}

aside ul li{
  margin-bottom: 0.2rem;
}
aside ul li:hover {
    cursor: pointer;
    border-bottom: 0.2rem solid aquamarine;
  }
.loadMoreEpisodes {
    cursor: pointer;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem aquamarine;
    margin-left: 3rem;
}

.section-container {
    overflow-y: scroll;
    max-width: 86.5vw;
    min-width:86.5vw;
    max-height: 70vh;
    margin-left: 2rem;

}
.section-container::-webkit-scrollbar {
    width: 0.8rem;
    background-color: var(--light-black);
}

.section-container::-webkit-scrollbar-thumb {
    background-color: #04f59d;
    border-radius: 0.3rem;
}
.welcome p {
    font-size: 4rem;
    margin-left: 35%;
}

.episode-info {
    font-size: 2.5rem;
    margin-left: 5rem;
}

.episode-info h1 {
    margin-bottom: 1.5rem;
}

.episode-info p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.character-list {
    max-width: 86.5vw;
    display: flex;
    flex-wrap: wrap;
    padding-left: 3%;
}


.hide {
    display: none;
}

.character-info {
    width: 29rem;
    height: 30rem;
    margin: 1rem;
    padding-left: 1rem;
}

.character-info span {
    font-size: 1.4rem;

}

.character-info p {
    font-size: 1.4rem;
    margin-top: 0.5rem;
}
.character-info h3 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.character-info img {
    width: 20rem;
}

footer {
    border-top: solid var(--highlight-color) 0.2rem;
    text-align: center;
    font-size: 2rem;
    padding-top: 1.5rem;
}

footer p {
    display:inline;

}

p:nth-child(2) {
    color: var(--highlight-color);
}